:root {
    --color-black: 0, 0, 0;
    --color-white: 255,255,255;
  }
*{
    box-sizing: border-box;
}

body{
    margin: 0; 
    font-size: 18px;
    line-height: 1.5em;
}


img{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.page-section{
     padding: 100px;
}
 
@media screen and (max-width: 767px ){
    .page-section{
        padding: 60px 40px;
    }
}

a{
    text-decoration: none;
    color: inherit;
    outline: none;
}

h1, h2, h3{
    margin: 0;
}

h1, h2{
    line-height: 1;
}

.dn{
    display: none;
}
.df{
    display: flex;
}
.df-separator{
    flex-grow: 1;
}
.tac{
    text-align: center;
}
.vam{
    vertical-align: middle;
}
.ffpd{
    font-family: 'Playfair Display', serif;
}

.ffr{
    font-family: 'Rubik', sans-serif;
}

.mb20{
    margin-bottom: 20px;
}

.mb30{
    margin-bottom: 30px;
}

.mb40{
    margin-bottom: 40px;
}

.mb60{
    margin-bottom: 60px;
}

.mb100{
    margin-bottom: 100px;
}

.fz60{
font-size: 60px;
}

.fz40{
    font-size: 40px;
}

.fz24{
    font-size: 24px;
}

.fz18{
    font-size: 18px;
}

.fz12{
    font-size: 12px;
}

.lh15{
    line-height: 1.5em;
}

.fw300{
    font-weight: 300;
}

.fwb{
    font-weight: bold;
}

.color-white{
    color: rgb(var(--color-white));
}

.bg-black{
    background-color: rgb(var(--color-black));
}

.container-1200{
    position: relative;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container-950{
    position: relative;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
}
